body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'monospace',sans-serif;
    background-image: linear-gradient(rgb(34,10,100),rgb(10,100,10));
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.content{
    background-color: white;
    min-height: 400px;
    width: 540px;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: #333;
}
input{
    font-size: medium;
    margin-top: 50px;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 0;
}
button{
    padding: 10px 20px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 1opx;
    cursor: pointer;

}